@import "src/scss/application.scss";
@import "src/app/app.component.scss";

.header-container {
  background: $light-gray;
  border: none;
  border-top: 5px solid $blue-wolox;
  box-shadow: 0 3px 5px $invalid-gray;
  display: flex;
  height: 100%;
  justify-content: space-around;
  max-height: 80px;
  width: 100%;
}

.logout {
  background: $light-gray;
  border: none;
  font-size: 20px;
}
