@import "src/scss/application.scss";
@import "src/app/app.component.scss";
@import "src/app/screens/books/books.component.scss";

.book-container {
  display: flex;
  max-width: 800px;
  margin: 30px auto;
  width: 100%;
  background-color: $white;
  height: 200px;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.margin-20 {
  margin: 20px;
}

.pad-20 {
  padding: 20px;
}

.pad-5 {
  padding: 5px;
}

.pad-right-5 {
  padding-right: 5px;
}

.back-grey {
  background-color: $light-gray;
}

.width-100 {
  width: 100%;
}

.under-green-line {
  border-bottom: 2px solid $green-wolox;
}
