.form-button {
  border: 2px solid $green-wolox;
  border-radius: 8px;
  font-size: 18px;
  height: 60px;
  margin: 20px;
  max-width: 350px;
  width: 100%;
}

.grey-button {
  background-color: $light-gray;
  color: $green-wolox;
}
  
.green-button {
  background-color: $green-wolox;
  color: $white;
}
