<form class="container" [formGroup]="registrationForm" (ngSubmit)="submitRegistration()">
  <div class="form-container">
    <img src="assets/wolox.png" alt="Wolox" class="wolox-image"/>
    <div class="input-container">
      <label class="input-label"> First name </label>
      <input class="input-field" type="text" formControlName="firstName">
      <span class="alert" *ngIf="!registrationForm.controls['firstName'].valid && registrationForm.controls['firstName'].touched">
        Required field.
      </span>
    </div>
    <div class="input-container">
      <label class="input-label"> Last name </label>
      <input class="input-field" type="text" formControlName="lastName">
      <span class="alert" *ngIf="!registrationForm.controls['lastName'].valid && registrationForm.controls['lastName'].touched">
        Required field.
      </span>
    </div>
    <div class="input-container">
      <label class="input-label"> Email </label>
      <input class="input-field" type="email" formControlName="email">
      <span class="alert" *ngIf="!registrationForm.controls['email'].valid && registrationForm.controls['email'].touched">
        Required field.
      </span>
      <span class="alert" *ngIf="registrationForm.controls['email'].valid && registrationForm.controls['email'].touched && !validEmail()">
        Invalid format.
      </span>
    </div>
    <div class="input-container">
      <label class="input-label"> Password </label>
      <input class="input-field" type="password" formControlName="password">
      <span class="alert" *ngIf="!registrationForm.controls['password'].valid && registrationForm.controls['password'].touched">
        Required field.
      </span>
    </div>
    <div class="input-container">
      <label class="input-label"> Confirm password </label>
      <input class="input-field" type="password" formControlName="passwordConfirmation">
      <span class="alert" *ngIf="!registrationForm.controls['passwordConfirmation'].valid && registrationForm.controls['passwordConfirmation'].touched">
        Required field.
      </span>
      <span class="alert" *ngIf="registrationForm.controls['passwordConfirmation'].valid && registrationForm.controls['passwordConfirmation'].touched && !equalPassword()">
        Password don't match.
      </span>
    </div>
    <button class="button" type="submit" [disabled]="registrationForm.invalid">Sign up</button>
    <div class="green-button">
      <button class="button empty" routerLink="/login">Log in</button>
    </div>
  </div>
</form>
