@import "./src/scss/application.scss";
@import "./src/app/app.component.scss";

.header-container {
  background: $light-gray;
  border: none;
  border-top: 5px solid $blue-wolox;
  box-shadow: 0 3px 5px $invalid-gray;
  display: flex;
  height: 100%;
  justify-content: space-around;
  max-height: 80px;
  width: 100%;
}

.logout {
  background: $light-gray;
  border: none;
  font-size: 20px;
}

.books-container {
  display: grid;
  grid-auto-rows: 250px;
  grid-gap: 15px;
  grid-template-columns: 200px 200px 200px 200px;
  max-width: 800px;
  margin: 30px auto;
  width: 100%;
}

.books-list {
  padding: 20px;
  background: $light-gray;
  display: flex;
  flex-direction: column;
}

.book-image {
  background: $white;
  max-height: 150px;
  max-width: 180px;
  width: auto;
  height: 100%;
}

.text-1{
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
